body {
  font-family: "Lora", serif !important;
}

.m-article-card {
  /* border: 5px solid var(--border-color); */
  border-radius: 0px;
}

.m-article-card__picture,
.m-article-card__info,
.m-featured-slider__list__item,
.m-featured-slider,
.m-featured-slider__list,
.m-recent-article__picture,
.m-icon-button,
.m-button.filled,
.m-input {
  border-radius: 0px !important;
}

.m-article-card__featured {
  width: 32px;
  height: 32px;
}

.m-article-card__featured span,
.m-featured-article__ribbon span:first-of-type {
  font-size: 1.2rem;
}

.focusable:focus,
.m-button:focus,
.m-icon-button:focus,
.m-toggle-darkmode input:focus {
  box-shadow: none !important;
}

.m-featured-article__ribbon {
  height: 28px;
  font-size: 1.2rem;
}
